<html>
  <head>
    <meta charset="utf-8" />
    <title>Support Email</title>
  </head>
  <body>
    <div class="email">
      <table style="width:100%">
        <tr>
          <th>Item Name</th>
          <th>UserID</th>
          <th>Link</th>
        </tr>
        <tr>
          <td>{{item_name}}</td>
          <td>{{userId}}</td>
          <td><a href="{{link}}">Link</href></td>
        </tr>
      </table>
    </div>
  </body>
</html>