<html>
  <head>
    <meta charset="utf-8" />
    <title>Support Email</title>
  </head>
  <body>
    <div class="email">
      <table style="width:100%">
        <tr>
          <th>UserID</th>
          <th>Email</th>
          <th>Message</th>
        </tr>
        <tr>
          <td>{{userID}}</td>
          <td>{{email}}</td>
          <td>{{message}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>